<script>
import Counter from "./lib/Counter.svelte";


</script>

<main>
  <h1>Break the Chains, what can you do to help?</h1>

  <p>Are you tired of Admin abusing his power?</p>

  <!--Gifs of slavery-->

  <p>Are you tired of Admin supporting for the wrong group?</p>

  <!--Gifs of women rights-->
  <p>Are you tired of Admin being r*t*rd*d?</p>

  <!--Gifs of skimpy woman-->

  <h3>Fear no MORE!</h3>

  <h3>Our Lord and Savior! The ONE and ONLY!</h3>

  <h2>LORD BOABY</h2>

  <h3>is here! To save us all!</h3>

  <!--Background of Sigma Male-->

  <br>

  <h3>LORD BOABY's Visions as OUR Owner</h3>

  <p>Justice - for the right group!</p>

  <!--Gifs of nazi military-->

  <p>Action - to the one who deserves it!</p>

  <!--Picture of woman-->

  <h3>Our Savior's Missions</h3>

  <div class="missions">
    <ol>
      <li class="lists"><p>Make our Server GREAT again!</p></li>
      <li class="lists"><p>Eliminate the lower creatures!</p></li>
      <li class="lists"><p>Protect the one that matters!</p></li>
      <li class="lists"><p>Bring back power to US!</p></li>
      <li class="lists"><p>Make Rules that WE need!</p></li>
    </ol>
  </div>

  <h3>Vote for OUR Savior here! WE will be GREAT again!</h3>
</main>

<style>

</style>
